<div class="row">
    <div class="col-lg-8 col-xs-12"><h1>Książki</h1></div>
    <div class="col-lg-4 col-xs-12 text-right">
      <%= link_to 'Dodaj książkę', new_library_book_path, :class => 'btn btn-sm btn-outline-secondary' %>
    </div>
</div>



<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th>Nazwa</th>
        <th>Autor</th>
        <th>Dostępna?</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @library_books.each do |library_book| %>
      <tr>
        <td><%= link_to library_book.name, library_book %></td>
        <td><%= library_book.author %></td>
        <td><%= library_book.is_active? ? 'tak' : 'nie' %></td>
        <td>
          <%= library_book.aasm_state %>
          <% if library_book.available? && library_book.is_active? %>  
            <%= link_to 'Wypożycz', borrow_book_library_book_path(library_book) %>
          <% end %>
        </td>
        <td>
          <% if current_user == library_book.author %>
            <%= link_to 'Edytuj', edit_library_book_path(library_book), :class => 'fa fa-pencil', title: 'Edytuj' %>
            <%= link_to 'Usuń', library_book, method: :delete, data: { confirm: 'Czy jesteś pewien?' } %>
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="5" class="text-center"><%= will_paginate @library_books %></td>
      </tr>
    </tfoot>
  </table>
</div>

