<div class="card">
  <div class="card-header">
    <h5 class="float-left"><%= @library_book.name %></h5>
    <% if current_user == @library_book.author %>
      <%= link_to 'Edytuj', edit_library_book_path(@library_book), class: 'btn btn-primary float-right' %>
    <% end %>
    <div class="clearfix"></div>
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <em><%= simple_format(@library_book.lead) %></em>
      <footer class="blockquote-footer">Autor: <cite title="<%= @library_book.author %>"><%= @library_book.author %></cite></footer>
    </blockquote><br/>
    <% if @library_book.available? && @library_book.is_active? %>
      <a href="#" class="btn btn-primary">Wypożycz!</a>
    <% end %>

  </div>
</div>

